.extension {
	width: 650px;
    background-color: white;
    height: 100%;
    position: fixed;
	padding-top: 20px;
    top: 0px;
    right: 0px;
    border-left: 1px solid #a7d7f9;
    overflow-y: auto;
}

.knowledge-graph {
    margin-left: 20px;
}

.section-title {
	margin-left: 20px;
	color: #000;
    font-family: lato;
    font-size: 150%;
}

.annotations {
    margin-left: 20px;
    margin-top: 0.25em;
}

.add-note-container {
  width:610px;
  text-align:right;
  margin-bottom: .5em;
}

.btn {
  width:50px;
  padding: 1px 6px;
  margin: .5em 0px .25em .5em;
  border: 1px solid #aaa;
  background-color: inherit;
}

.btn:hover {
    cursor: pointer;
}

.note-ta {
    width: 610px;
    resize: none;
    font: inherit;
    margin-bottom: 0.5em;
}

.annotation {
    width: 597px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 6px;
    margin-bottom: 0.5em;
    font-size: 88%;
}

.add-annotation {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.add-annotation:hover {
    cursor: pointer;
}

.current-node {
    color: white !important;
}

.canvas {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.25em;
}